body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

header, nav, section, footer {
    padding: 20px;
    margin-bottom: 20px;
}

header {
    background-color: #E8FBFB;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #0077cc;
    padding: 5px;
    border: 1px solid transparent;
    transition: all 0.3s;
}

nav ul li a:hover {
    border: 1px solid #0077cc;
    background-color: #f4f4f4;
}

h1, h2 {
    text-align: center;
    margin-top: 0;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
}
